Imbalanced Dataset:

A dataset with an unequal class distribution

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('creditcard.csv')

In [3]:
#printing first 5 rows
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
dataset.shape

(284807, 31)

In [8]:
#distribution of the 2 classes
dataset['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This is highly imbalanced datset

0--> normal transaction
1--> fraudlent transaction

In [10]:
legit = dataset[dataset.Class == 0]
fraud = dataset[dataset.Class == 1]

In [14]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

UnderSampling:
Buliding a sample dataset containing comparable legit and fraud transaction

In [15]:
legit_sample = legit.sample(n=492)

In [16]:
legit_sample.shape

(492, 31)

Concatinate the two dataframes

In [19]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [20]:
new_dataset.shape

(984, 31)

In [21]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
90695,63128.0,1.169039,-0.216868,0.541745,0.188805,-0.615449,-0.180901,-0.339617,0.179254,0.447760,...,-0.180509,-0.389697,0.102538,0.273873,0.149258,0.914162,-0.064735,-0.011767,2.00,0
270989,164361.0,1.937465,-0.227692,-1.136091,0.836159,-0.280696,-0.544730,-0.329046,0.002390,1.329889,...,0.224752,1.106287,-0.120057,0.049116,0.365710,0.047989,0.031719,-0.039674,6.52,0
153216,98210.0,2.111258,0.064958,-2.321841,-0.061301,0.980267,-0.754955,0.511311,-0.378807,1.390193,...,0.006771,0.266563,-0.074716,0.166733,0.439093,0.182729,-0.131008,-0.093146,18.45,0
281501,170219.0,0.055181,0.824805,-1.241402,-0.144379,0.195088,-0.843130,0.675176,0.298806,-0.288301,...,0.392485,0.921473,0.044720,-0.439532,-0.256538,-0.148941,-0.104970,-0.056591,85.25,0
74777,55751.0,-0.478294,0.487050,1.617711,-0.151712,0.087920,-0.880514,0.288405,-0.014866,-0.797641,...,0.097494,0.187411,-0.015201,0.617889,-0.578133,0.919398,0.046717,0.128220,1.00,0

In [22]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [24]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64